.article-info {
  font-family: var(--f-inter);
  color: var(--article-info-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  gap: 15px;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
}

.article-info .article-info__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.article-info .article-info__label i {
  font-size: 16px;
}

.badge {
  background-color: var(--badge-red-bg);
  color: var(--badge-color);
  font-family: var(--f-manrope);
  width: fit-content;
}

.badge.transparent {
  background-color: rgba(255, 255, 255, 0.3);
}

.badge.article__badge {
  font-size: 13px;
  padding: 4px 10px;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.section__dadge_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

.section__dadge_wrapper .badge.section__dadge {
  margin: 0;
}

.badge.section__dadge {
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
  height: 40px;
  width: 100%;
  position: relative;
  background-color: transparent;
  display: flex;
  margin-bottom: 30px;
}

.badge.section__dadge::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid var(--badge-line-color);
  border-right: none;
  border-left: none;
  height: 5px;
  top: 50%;
  transform: translate(0, -50%);
  width: calc(100% - 10px);
}

.badge.section__dadge .section__dadge_text {
  position: relative;
  padding: 8px 28px;
}

.badge.section__dadge .section__dadge_text::before {
  z-index: 1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transform: skew(0, -8deg) rotate(8deg);
  z-index: 1;
  border-radius: 4px;
  background-color: var(--badge-red-bg);
}

.badge.section__dadge .section__dadge_text span {
  position: relative;
  z-index: 2;
}

.badge.badge--bordered {
  color: var(--badge-bordered-color);
  background-color: transparent;
  border: 1px solid var(--badge-border-color);
}

.related-articles {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

a.article-column:hover,
a.article-short:hover,
a.article-card:hover {
  opacity: 0.9;
}

.article-column .article__badge,
.article-short .article__badge {
  font-family: var(--f-inter);
}

.article-column .article-info,
.article-short .article-info,
.article-row .article-info {
  color: var(--article-info-color-darker);
}

.article-column h3,
.article-short h3,
.article-row h3 {
  font-family: var(--f-manrope);
  color: var(--article-title-color);
}

/* Article column */
.article-column {
  display: flex;
  flex-direction: column;
}

.article-column .article-image-wrapper,
.article-column > img {
  border-radius: 6px;
  margin-bottom: 24px;
}

.article-column .article-image-wrapper img {
  width: 100%;
  height: 100%;
}

.article-column .article__badge {
  margin-bottom: 6px;
}

.article-column h3 {
  font-size: 28px;
  line-height: 35px;
  margin: 0 0 18px 0;
}

/* Article short */
.article-short {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 16px;
}

.article-short.article-short_column {
  flex-direction: column;
  gap: 24px;
}

.article-short img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 4px;
}

.article-short .article-description {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.article-short h3 {
  font-size: 20px;
  line-height: 26px;
  margin: 8px 0 14px 0;
}

/* Article card */
.article-card {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.article-card > img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-card > * {
  z-index: 3;
}

.article-card::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 1) 90%
  );
  z-index: 2;
  width: 100%;
  height: 100%;
}

.article-card h3 {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  font-family: var(--f-manrope);
  margin: 14px 0;
}

/* Article row */
.article-row {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.article-row:not(:last-child) {
  margin-bottom: 20px;
}

.article-row .article-row__right {
  display: flex;
  flex-direction: column;
}

.article-row img {
  border-radius: 6px;
  height: 300px;
  width: 440px;
  object-fit: cover;
}

.article-row h3 {
  font-size: 22px;
  line-height: 30px;
  margin: 14px 0;
}

.article-row p {
  font-size: 16px;
  line-height: 28px;
  margin: 15px 0 20px 0;
  color: #545e69;
  font-family: var(--f-inter);
}

.article-row .with-arrow-link {
  font-weight: 600;
  color: var(--article-title-color);
}

@media only screen and (max-width: 800px) {
  section.with-sidebar .with-related__articles .article-column img {
    width: 100%;
  }

  .article-info .article-info__label i {
    font-size: 14px;
  }

  .article-info {
    font-size: 11px;
  }

  .article-short h3 {
    font-size: 16px;
    margin: 6px 0;
  }

  .section__dadge_wrapper {
    flex-direction: column;
  }

  .article-row {
    flex-direction: column;
  }

  .article-row img {
    width: 100%;
  }
}
